.headerOrTitle {
    font-family: 'Montserrat', sans-serif;
    color: #dd6b4d;
}

header {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row: 1; /*! position: sticky; */
    height: 100%; /*! top: 0; *//*! z-index: 3; */
    max-height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}

#topName {
    font-size: 36px;
    height: 100%;
    position: relative;
    margin: 0 0 0 2.5vmin;
}


#topLogo {
    width: 1.8vmax;
    float: right;
    margin-right: 1.4vmin;
}

#navlogo {
    display: block;
    margin-left: 0.8vw;
    margin-top: 0.5vh;
    width: 1.2vw;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    animation: fadein 6s;
}

nav {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    position: sticky;
    top: 0;
    z-index: 3;
}

#navbartop {
    /*! position: -webkit-sticky; */ /* Safari */
    /*! position: sticky; */
    /*! top: 0; */
    /*! z-index: 3; */
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.5vmin;
    /*! height: 100%; */
}

#navbartop ul {
    border-radius: 10px 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c4b82cc;
}

#navbartop li {
    float: left;
}

#navbartop li a {
    display: block;
    text-align: center;
    padding: 0.7em;
    margin: 0.3em;
    text-decoration: none;
    color: #dae1e7;
}

#navtopstart {
    margin-left: 1vmin;
}

#navbartop li a:hover {
    background-color: #183661;
    border-radius: 10px 30px;
}

#navbartop .active {
    background-color: #dd6b4d;
    border-radius: 10px 30px;
}

main {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row: 3;
}

body {
    background-color: #dae1e7;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10%);
    grid-template-rows: minmax(3rem, 5%) minmax(3rem, 5%) 90%;
    height: 100%;

}

#shake1 {
    overflow: hidden;
    position: absolute;
    left: 0;
    -webkit-animation: slide 2s forwards;
    -moz-animation: slide 2s forwards;
    animation: slide 2s forwards;
}

#shake1 img {
    border-radius: 30px;
    margin: 2.5vmin;
    width: 40vw;
    z-index: 1;
}

#description {
    font-family: 'Mukta', sans-serif;
    color: #183661;
    z-index: 2;
    margin: 1vmin;
    width: 55vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: right;
    top: 20vh;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    animation: fadein 4s;
}

@keyframes slide {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@-moz-keyframes slide {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes slide {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

